{% extends "base.html" %}


{% block content %}
<div>
    <h1>Edit Shopping List</h1>
</div>
<div>
    <a href="{% url 'shoppinglist:list' %}">Return</a>
</div>
<hr>
<div style='margin-top:30px;'>
    <form action='.' method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div>
            <div>
                {% if object.get_items_children %}
                    <h3>Items</h3>
                    {% for item in object.get_items_children %}
                        {% include 'shoppinglist/partials/item-inline.html' with object=item %}
                    {% endfor %}
                {% endif %}
            </div>
            {% if url %}
                <a href="{% url 'shoppinglist:item-create' parent_id %}">Add item</a>
            {% endif %}
        </div>
        <button style='margin-top:10px;' type='submit' >Save</button>
    </form>
</div>



{% endblock content %}