{% extends "base.html" %}

{% block content %}
    <h1>My shopping list</h1>
    <h3><a href="{% url 'shoppinglist:create' %}">Add</a>
    </h3>
    <hr/>
    {% for shoppinglist in shoppinglists %}
        <div>
            <a href="#">Complete</a>
        </div>
        <div>
            <a href="{% url 'shoppinglist:update' shoppinglist.id %}">{{ shoppinglist.name }}</a>
        </div>
        <div>
            <a href="{% url 'shoppinglist:delete' shoppinglist.id %}">Delete</a>
        </div>
    {% endfor %}

{% endblock content %}